body{
font-family:Arial;
margin:0;
background:#0d1b2a;
color:white;
}

/* SPLASH */
#splash{
position:fixed;
width:100%;
height:100%;
background:#1b4332;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
z-index:9999;
}

.logoSplash{
width:120px;
margin-bottom:20px;
}

/* HEADER */
header{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px;
background:#1b263b;
flex-wrap:wrap;
}

header img{
height:40px;
}

.titulo{
text-align:center;
width:100%;
}

/* DASHBOARD */
.dashboard{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;
padding:10px;
}

.card{
background:#1b263b;
padding:15px;
border-radius:10px;
text-align:center;
flex:1 1 120px;
}

/* CONTENEDOR */
.container{
width:95%;
max-width:900px;
margin:auto;
background:#1b263b;
padding:15px;
border-radius:10px;
}

/* INPUTS */
input, select, textarea{
width:100%;
padding:10px;
margin-top:5px;
margin-bottom:10px;
border:none;
border-radius:6px;
font-size:16px;
}

/* BOTONES */
button{
width:100%;
padding:12px;
background:#2a9d8f;
border:none;
color:white;
border-radius:6px;
margin-top:10px;
font-size:16px;
}

/* TABLAS */
.table-container{
overflow-x:auto;
}

table{
width:100%;
border-collapse:collapse;
min-width:600px;
}

th, td{
border:1px solid #415a77;
padding:8px;
text-align:center;
}

th{
background:#2a9d8f;
}
